
			<div class="latest_photos">
					<h3>Latest Photos</h3>
					<ul>
						<li><a class="fancybox" href="images/img3.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/img3.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/latest-post-img2.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/latest-post-img2.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/img1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/img1.jpg" alt=""/><span> </span></a></a></li>
						<li><a class="fancybox" href="images/img2.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/latest-post-img3.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/latest-post-img1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/img2.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/img3.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/img3.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/latest-post-img3.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/latest-post-img2.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/img1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/img1.jpg" alt=""/><span> </span></a></li>
						<li><a class="fancybox" href="images/latest-post-img1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/latest-post-img1.jpg" alt=""/><span> </span></a></li>
					</ul>
				</div>
		</div>
	<div class="clear"></div>
</div>