			<div class="latest_comments">
					<h3>Latest Comments</h3>
				<div class="comments">
					<p><span>admin</span> commented on</p>
					 <h4><a href="#">Lorem ipsum dolor sit dolor more normal!</a></h4>
					 <p>June 25th, 2013</p>
				</div>
				<div class="comments">
					<p><span>admin</span> commented on</p>
					 <h4><a href="#">Lorem ipsum dolor sit dolor more normal!</a></h4>
					 <p>June 20th, 2013</p>
				</div>
				<div class="comments">
					<p><span>admin</span> commented on</p>
					 <h4><a href="#">Lorem ipsum dolor sit dolor more normal!</a></h4>
					 <p>June 15th, 2013</p>
				</div>
				</div>
