<div class="popular-post">
				<h3>popular-posts</h3>
                   <% for post in @popular_posts%>
					<div class="post-grid">
						<%=image_tag(post.banner_image)%>
						<p><%= link_to(post.title_clean,{:action => "single",:id => post.id}) %></p>
						<div class="clear"> </div>
					  </div>
                   <%end%>
					<div class="view-all"><a href="#">
						</a><a href="#">ViewAll</a>
					</div>
					<div class="clear"></div>
			</div>
